:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: fit-content;
}

.container {
  max-width: 1440px;
  margin: 1rem auto;
}
